<div class="row">
  <div class="col-md-6">
    <label for="name" class="font-weight-bold">Name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="cryptoSurvey.name">
  </div>
  <div class="col-md-6">
    <label for="cryptpos" class="form-weight-bold">Favorite Crypto</label>
    <select id="cryptpos" class="form-control" [(ngModel)]="cryptoSurvey.favoriteCrypto">
      <option value=""></option>
      <option [value]="crypto.name" *ngFor="let crypto of top100Cryptos">{{ crypto.name }}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="comments" class="font-weight-bold">Comments</label>
    <textarea id="comments" class="form-control" [(ngModel)]="cryptoSurvey.comments"></textarea>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-12">
    <button [routerLink]="'submitted'" class="btn-outline-success btn-block" (click)="sendForm()">Send Form</button>
  </div>
</div>